*{
    background-color: white;
    color:rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
}

.nav-button{
    background-color: black;
    transition: .2s;
    text-decoration: none;
}
.nav-button:hover{
    transform: scale(1.5);
    cursor: pointer;
}
#socials{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-button{
    padding: 30px;
    background-color: black;
}
p{
    margin: 0;
    padding: 0;
    line-height: 75px;
    background-color: rgb(255, 255, 255);
}
a{
    margin: 0;
    padding: 0;
}
img{
    margin: 0;
    padding: 0;
}
#top-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 70px;
    position: sticky;
    top: 0;
}
#top-nav-container{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    padding-left: 50px;
    padding-right: 50px;
}
#desc-title{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 50px;
}
#github-icon{
    transition: .2s;
}
#github-icon:hover{
    cursor: pointer;
    opacity: 25%;
    transform: scale(1.5);
}
#soothies-logos{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    gap: 50px;
    justify-content: center;
    align-content: center;
    align-items: center;
}